/.prettierrc.json
/LICENSE*
/.github/workflows/ci.yml
/coverage
/jest.config.json
/package-lock.json
/.swcrc
/tsconfig.base.json
/tsconfig.json
/lib
/tsconfig.emit.json
/.vscode/extensions.json
/.vscode/settings.json
